.jumbotron {
  background-color: #a6a4a4;
  padding-top: 4rem;
}

section {
  padding-top: 5rem;
}

#Project {
  background-color: #a6a4a4;
}

#footer {
  background-color: #a6a4a4;
}

section {
  padding-top: 5 rem;
}
